Imports

In [2]:
import numpy as np
import pandas
from sklearn import preprocessing
import matplotlib as plt

Fetch Data  ( I tried using the csv library reader, and the numpy reader, the file isn't big enough to cause a memory problem so i think the problem i'm having is the pieces of json objects embeded in the csv maybe???)

In [14]:

data = pandas.read_csv('secondEdition.csv', sep=',',header=None)
pandas.DataFrame(data.values[6,:],data.values[0,:])

                                                               0
name                                              Ankh of Mishra
manaCost                                                     {2}
cmc                                                            2
colorIdentity                                                NaN
artist                                                 Amy Weber
number                                                       NaN
type                                                    Artifact
text           Whenever a land enters the battlefield, Ankh o...
printings            LEA,LEB,2ED,CED,CEI,3ED,4ED,5ED,6ED,MED,VMA
flavor                                                       NaN
layout                                                    normal
multiverseid                                                 598
power                                                        NaN
toughness                                                    NaN
rarity                                                      Rare
subtypes                                                     NaN
types                                                   Artifact

Data PreProcessing

Generate Regressor (Pearson Score maybe)